<h1 align='center'>Data Management with SQL and Python</h1>

## SQL and Relational Databases

A **relational database** is a type of database that organises data into one or more tables, each with a unique identifier, and then uses relationships between these tables to manage and access the data. The data in a relational database is typically organised into tables consisting of rows and columns, where each column represents a specific type of data and each row represents a specific instance of that data.

**SQL** (Structured Query Language) is a programming language designed for managing and manipulating relational databases. It is a standard language used to communicate with databases, and it allows users to retrieve, modify, and manage data stored in a relational database.

**SQLite** is a software library that provides a lightweight and efficient way to store and manage relational databases. It is a self-contained, serverless, zero-configuration, transactional SQL database engine, which means it does not require a separate server process to be running and can be used within an application itself.

In [1]:
import numpy as np
import pandas as pd
import sqlite3
from sqlite3 import Error

In [2]:
def create_connection(db_file):
    """
    Connect to the specified SQLite database, if not exist, create a new one;
    :db_file: location of db to connect to
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print("Connection established!")
    except Error as e:
        print(e)
    return conn

db_file_loc = 'data/music.db'
conn = create_connection(db_file_loc)

Connection established!

The following example demonstrates how to list all tables in a SQL database.

In [3]:
query = "SELECT name FROM sqlite_schema WHERE type = \'table\';"
pd.read_sql_query(query, conn)

               name
0            albums
1   sqlite_sequence
2           artists
3         customers
4         employees
5            genres
6          invoices
7     invoice_items
8       media_types
9         playlists
10   playlist_track
11           tracks
12     sqlite_stat1

Common SQL commands include the following keywords.

| Keyword                             | Description                                                  |
|-------------------------------------|--------------------------------------------------------------|
| `SELECT`                            | Used to retrieve data from the database                      |
| `DISTINCT`                          | For removing duplicate tuples in the query result            |
| `GROUP BY`                          | Groups tuples for each value combination                     |
| `COUNT`, `AVG`, `MIN`, `MAX`, `SUM` | Total number/average/smallest/biggest/sum of argument values |
| `HAVING`                            | Add the condition on the groups                              |
| `ORDER BY`                          | Sort the tuples in a query result                            |

The `SELECT` keyword helps retrieve a table as a Pandas DataFrame.

In [4]:
query = "SELECT * FROM tracks;"
pd.read_sql_query(query, conn)

,TrackId,Name,AlbumId,MediaTypeId,GenreId,Composer,Milliseconds,Bytes,UnitPrice
0,1,For Those About To Rock (We Salute You),1,1,1,"Angus Young, Malcolm Young, Brian Johnson",343719,11170334,0.99
1,2,Balls to the Wall,2,2,1,None,342562,5510424,0.99
2,3,Fast As a Shark,3,2,1,"F. Baltes, S. Kaufman, U. Dirkscneider & W. Ho...",230619,3990994,0.99
3,4,Restless and Wild,3,2,1,"F. Baltes, R.A. Smith-Diesel, S. Kaufman, U. D...",252051,4331779,0.99
4,5,Princess of the Dawn,3,2,1,Deaffy & R.A. Smith-Diesel,375418,6290521,0.99
...,...,...,...,...,...,...,...,...,...
3498,3499,Pini Di Roma (Pinien Von Rom) \ I Pini Della V...,343,2,24,None,286741,4718950,0.99
3499,3500,"String Quartet No. 12 in C Minor, D. 703 ""Quar...",344,2,24,Franz Schubert,139200,2283131,0.99
3500,3501,"L'orfeo, Act 3, Sinfonia (Orchestra)",345,2,24,Claudio Monteverdi,66639,1189062,0.99
3501,3502,"Quintet for Horn, Violin, 2 Violas, and Cello ...",346,2,24,Wolfgang Amadeus Mozart,221331,3665114,0.99
3502,3503,Koyaanisqatsi,347,2,10,Philip Glass,206005,3305164,0.99

The `ORDERBY` keyword sorts the rows based on specific attributes, with `ASC` and `DESC` being ascending order and descending order respectively.

In [5]:
query = "SELECT * FROM tracks ORDER BY albumid ASC;"
pd.read_sql_query(query, conn)

,TrackId,Name,AlbumId,MediaTypeId,GenreId,Composer,Milliseconds,Bytes,UnitPrice
0,1,For Those About To Rock (We Salute You),1,1,1,"Angus Young, Malcolm Young, Brian Johnson",343719,11170334,0.99
1,6,Put The Finger On You,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",205662,6713451,0.99
2,7,Let's Get It Up,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",233926,7636561,0.99
3,8,Inject The Venom,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",210834,6852860,0.99
4,9,Snowballed,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",203102,6599424,0.99
...,...,...,...,...,...,...,...,...,...
3498,3499,Pini Di Roma (Pinien Von Rom) \ I Pini Della V...,343,2,24,None,286741,4718950,0.99
3499,3500,"String Quartet No. 12 in C Minor, D. 703 ""Quar...",344,2,24,Franz Schubert,139200,2283131,0.99
3500,3501,"L'orfeo, Act 3, Sinfonia (Orchestra)",345,2,24,Claudio Monteverdi,66639,1189062,0.99
3501,3502,"Quintet for Horn, Violin, 2 Violas, and Cello ...",346,2,24,Wolfgang Amadeus Mozart,221331,3665114,0.99
3502,3503,Koyaanisqatsi,347,2,10,Philip Glass,206005,3305164,0.99

The `DISTINCT` clause for a `SELECT` statement allows removal of duplicate rows in a result set.

A `LIMIT` clause limits the number of rows returned by a `SELECT` statement.

In [6]:
query = "SELECT DISTINCT city FROM customers ORDER BY city LIMIT 5;"
pd.read_sql_query(query, conn)

        City
0  Amsterdam
1  Bangalore
2     Berlin
3   Bordeaux
4     Boston

A `WHERE` clause specifies conditions that must be met for a row to be included in the result set. It filters the rows returned by a `SELECT` statement.

In [7]:
query = "SELECT * FROM tracks WHERE albumid = 1 AND milliseconds > 200000;"
pd.read_sql_query(query, conn)

,TrackId,Name,AlbumId,MediaTypeId,GenreId,Composer,Milliseconds,Bytes,UnitPrice
0,1,For Those About To Rock (We Salute You),1,1,1,"Angus Young, Malcolm Young, Brian Johnson",343719,11170334,0.99
1,6,Put The Finger On You,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",205662,6713451,0.99
2,7,Let's Get It Up,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",233926,7636561,0.99
3,8,Inject The Venom,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",210834,6852860,0.99
4,9,Snowballed,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",203102,6599424,0.99
5,10,Evil Walks,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",263497,8611245,0.99
6,12,Breaking The Rules,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",263288,8596840,0.99
7,13,Night Of The Long Knives,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",205688,6706347,0.99
8,14,Spellbound,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",270863,8817038,0.99

A `GROUPBY` clause is typically used in conjunction with aggregate functions, such as `SUM`, `AVG`, `MAX` and `MIN`. It groups the result set based on one or more columns.

A `JOIN` statement combines data from two or more tables into a single result set.

An `INNER JOIN` returns only the rows where there is a match in both tables.

A `LEFT JOIN` returns all the rows from the left table and the matching rows from the right table. If there is no match in the right table, `NULL` values are returned for the columns of the right table. A `RIGHT JOIN` is similar to a `LEFT JOIN`.

A `FULL OUTER JOIN` returns all the rows from both tables, including those where there is no match in the other table. If there is no match in one of the tables, `NULL` values are returned for the columns of that table.

Close the connection after querying with `conn.close()`.

In [8]:
conn.close()